lib/dpd/dpd_price.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dpd.ru/ws/calculator/2012-03-20" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://dpd.ru/ws/calculator/2012-03-20" name="DPDCalculatorService">
<types>
<xsd:schema>
<xsd:import namespace="http://dpd.ru/ws/calculator/2012-03-20" schemaLocation="http://wstest.dpd.ru:80/services/calculator2?xsd=1"/>
</xsd:schema>
</types>
<message name="getServiceCost">
<part name="parameters" element="tns:getServiceCost"/>
</message>
<message name="getServiceCostResponse">
<part name="parameters" element="tns:getServiceCostResponse"/>
</message>
<message name="ServiceCostFault">
<part name="fault" element="tns:ServiceCostFault"/>
</message>
<message name="getServiceCostByParcels">
<part name="parameters" element="tns:getServiceCostByParcels"/>
</message>
<message name="getServiceCostByParcelsResponse">
<part name="parameters" element="tns:getServiceCostByParcelsResponse"/>
</message>
<message name="getServiceCost2">
<part name="parameters" element="tns:getServiceCost2"/>
</message>
<message name="getServiceCost2Response">
<part name="parameters" element="tns:getServiceCost2Response"/>
</message>
<message name="ServiceCostFault2">
<part name="fault" element="tns:ServiceCostFault2"/>
</message>
<message name="getServiceCostByParcels2">
<part name="parameters" element="tns:getServiceCostByParcels2"/>
</message>
<message name="getServiceCostByParcels2Response">
<part name="parameters" element="tns:getServiceCostByParcels2Response"/>
</message>
<portType name="DPDCalculator">
<operation name="getServiceCost">
<input wsam:Action="http://dpd.ru/ws/calculator/2012-03-20/DPDCalculator/getServiceCostRequest" message="tns:getServiceCost"/>
<output wsam:Action="http://dpd.ru/ws/calculator/2012-03-20/DPDCalculator/getServiceCostResponse" message="tns:getServiceCostResponse"/>
<fault message="tns:ServiceCostFault" name="ServiceCostFault" wsam:Action="http://dpd.ru/ws/calculator/2012-03-20/DPDCalculator/getServiceCost/Fault/ServiceCostFault"/>
</operation>
<operation name="getServiceCostByParcels">
<input wsam:Action="http://dpd.ru/ws/calculator/2012-03-20/DPDCalculator/getServiceCostByParcelsRequest" message="tns:getServiceCostByParcels"/>
<output wsam:Action="http://dpd.ru/ws/calculator/2012-03-20/DPDCalculator/getServiceCostByParcelsResponse" message="tns:getServiceCostByParcelsResponse"/>
<fault message="tns:ServiceCostFault" name="ServiceCostFault" wsam:Action="http://dpd.ru/ws/calculator/2012-03-20/DPDCalculator/getServiceCostByParcels/Fault/ServiceCostFault"/>
</operation>
<operation name="getServiceCost2">
<input wsam:Action="http://dpd.ru/ws/calculator/2012-03-20/DPDCalculator/getServiceCost2Request" message="tns:getServiceCost2"/>
<output wsam:Action="http://dpd.ru/ws/calculator/2012-03-20/DPDCalculator/getServiceCost2Response" message="tns:getServiceCost2Response"/>
<fault message="tns:ServiceCostFault2" name="ServiceCostFault2" wsam:Action="http://dpd.ru/ws/calculator/2012-03-20/DPDCalculator/getServiceCost2/Fault/ServiceCostFault2"/>
</operation>
<operation name="getServiceCostByParcels2">
<input wsam:Action="http://dpd.ru/ws/calculator/2012-03-20/DPDCalculator/getServiceCostByParcels2Request" message="tns:getServiceCostByParcels2"/>
<output wsam:Action="http://dpd.ru/ws/calculator/2012-03-20/DPDCalculator/getServiceCostByParcels2Response" message="tns:getServiceCostByParcels2Response"/>
<fault message="tns:ServiceCostFault2" name="ServiceCostFault2" wsam:Action="http://dpd.ru/ws/calculator/2012-03-20/DPDCalculator/getServiceCostByParcels2/Fault/ServiceCostFault2"/>
</operation>
</portType>
<binding name="DPDCalculatorPortBinding" type="tns:DPDCalculator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getServiceCost">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceCostFault">
<soap:fault name="ServiceCostFault" use="literal"/>
</fault>
</operation>
<operation name="getServiceCostByParcels">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceCostFault">
<soap:fault name="ServiceCostFault" use="literal"/>
</fault>
</operation>
<operation name="getServiceCost2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceCostFault2">
<soap:fault name="ServiceCostFault2" use="literal"/>
</fault>
</operation>
<operation name="getServiceCostByParcels2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceCostFault2">
<soap:fault name="ServiceCostFault2" use="literal"/>
</fault>
</operation>
</binding>
<service name="DPDCalculatorService">
<port name="DPDCalculatorPort" binding="tns:DPDCalculatorPortBinding">
<soap:address location="http://wstest.dpd.ru:80/services/calculator2"/>
</port>
</service>
</definitions>